*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none

$black: #0E0E0E
$prime: #FFC148

body
    min-height: 100vh
    font-size: 16px
    color: white
    background-color: #0E0E0E
    font-family: 'Montserrat', sans-serif
    background-image: url('../img/bg.jpg')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover

    position: relative
    z-index: 1
    display: flex
    flex-direction: column

.container
    max-width: 1522px
    width: 100%
    margin: 0 auto

img
    max-width: 100%

a,
button
    color: $prime
    text-decoration: none
    transition: all ease .3s
    background-color: transparent
    &:hover
        opacity: .7
    &:active
        opacity: 1
        transform: scale(.98)

.h2
    margin-bottom: 10px

ul
    list-style: none

.btn
    display: inline-block
    font-weight: 400
    color: $black
    font-size: 29px
    line-height: 100%
    padding: 24px 60px
    background-color: $prime
    border-radius: 12px
    text-align: center
    &.--sm
        border-radius: 14px
        padding: 15px 20px
        font-weight: 400
        font-size: 19px
        line-height: 23.16px

    &.--md
        padding: 11px 31px
        font-size: 21px
        line-height: 25.6px

    &.--lg 
        border-radius: 50px
        padding: 7px 16px 9px
        font-size: 29px
        line-height: 35.35px
        font-weight: 400

    &.--dark
        background-color: #151515
        color: #FB3E3E
    
    &.--dark_ligth
        color: white
        background-color: #151515

    img
        display: inline-block
        vertical-align: middle
        width: 24px
        height: 22px
        margin-right: 20px
        object-fit: contain

.w-100
    width: 100% !important

.text-center
    text-align: center !important

.fx, .fx-ac
    display: flex

.fx
    &-ac
        justify-content: space-between
        align-items: center

    @media screen and ( max-width: 600px )
        &-sm
            &-col
                flex-direction: column
                &-reverce
                    flex-direction: column-reverse

section,.section
    padding: 100px 0

.form
    gap: 8px
    .submit
        height: 43px
        min-width: 64px
        width: 64px
        border-radius: 41px
        background-color: #0E0E0E
        img
            display: block
            margin: 0 auto 

    &__heading 
        padding: 0 16px

input
    width: 100%
    background-color: #0E0E0E
    height: 43px
    border-radius: 110px
    padding: 0 16px
    font-size: 16px
    font-weight: 300
    color: white
    &::placeholder
        color: #868686

.subheading
    font-weight: 600
    font-size: 29px
    line-height: 35.35px
    margin: 0 0 16px

@media screen and ( max-width: 1560px )
    .container
        max-width: 1140px
        padding: 0 20px

    .btn
        font-size: 20px
        line-height: 100%
        padding: 18px 40px
        &.--md
            padding: 11px 20px
            font-size: 19px
            line-height: 110%

        img
            width: 23px
            height: 20px
            margin-right: 20px

@media screen and ( max-width: 600px )
    .subheading
        font-weight: 600
        font-size: 21px
        line-height: 29px
        margin: 0 0 12px

    .form 
        flex-direction: column
        .submit 
            width: 100%

    .btn 
        &.--lg 
            padding: 8px 16px 9px
            font-size: 22px
            line-height: 32px
